@model IndRa.RiskModel.Models.User.CreateUserModel
@{

    ViewBag.Title = "UserList";
}
<link rel="stylesheet" href="@Url.Content("https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/css/jquery.dataTables.css")" />
<style>
    table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        table th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        table tr:hover {
            background-color: #ddd;
        }

        table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #2890b9;
            color: white;
        }

    .table-header-title {
        padding: 6px;
        background-color: #2890b9;
        color: white
    }
</style>

@*<div class="page-content-wrap">
    <div class="row">
        <div class="container">
            <div class="col-md-12">
                <div class="col-md-12">
                    <!-- START DEFAULT DATATABLE -->
                    <div class="panel panel-default" style="color: #fff; background-color: #2890b9;">
                        <div class="panel-heading col-md-12 col-sm-12">
                            <div class="panel-title-box row">
                                <div class="col-md-6">
                                    <h3 class="userList">Users</h3>
                                </div>
                                <div class="panel-controls col-md-6 text-right">
                                    <button class="btn btn-primary" id="btnCreateUser" style="color:#000;background-color : #fff">Create User</button>
                                </div>
                            </div>

                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="tblUsersList" class="table datatable table-striped">
                                    <thead>
                                        <tr>
                                            <th>Sr No.</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>User Name</th>
                                            <th>Email Address</th>
                                            <th>User Code</th>
                                            <th>Role</th>
                                            <th>Active</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- END DEFAULT DATATABLE -->
                </div>
            </div>
        </div>
    </div>
</div>*@

<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading col-md-12">
                <div class="row table-header-title">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <h4 class="userList">User List</h4>
                        </div>
                        <div class="panel-controls col-md-6 text-right">
                            <button class="btn btn-primary" id="btnCreateUser" style="color:#000;background-color : #fff">Create User</button>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-12">
                        <form>
                            <table id="tblUsersList" class="table datatable table-striped">
                                <thead>
                                    <tr>
                                        <th>Sr No.</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>User Name</th>
                                        <th>Email Address</th>
                                        <th>User Code</th>
                                        <th>Role</th>
                                        <th>Active</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal animated fadeIn" id="CreateUserModalPopup" role="dialog" aria-labelledby="smallModalHead" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="smallModalHead" style="color:#fff">Create User</h4>
            </div>
            <div class="modal-body form-horizontal">
                <div class="col-md-12">
                    <div class="">
                        <div class="col-md-3 form-group">
                            @Html.LabelFor(model => model.FirstName)
                        </div>
                        <div class="col-md-9 form-group">
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @id = "firstName" })
                        </div>
                        @Html.ValidationMessageFor(m => m.FirstName)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="">
                        <div class="col-md-3 form-group">
                            @Html.LabelFor(model => model.LastName)
                        </div>
                        <div class="col-md-9 form-group">
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @id = "lastName" })
                        </div>
                        @Html.ValidationMessageFor(m => m.LastName)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="">
                        <div class="col-md-3 form-group">
                            @Html.LabelFor(model => model.UserName)
                        </div>
                        <div class="col-md-9 form-group">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @id = "userName" })
                        </div>
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="">
                        <div class="col-md-3 form-group">
                            @Html.LabelFor(model => model.UserCode)
                        </div>
                        <div class="col-md-9 form-group">
                            @Html.TextBoxFor(m => m.UserCode, new { @class = "form-control", @id = "userCode" })
                        </div>
                        @Html.ValidationMessageFor(m => m.UserCode)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="">
                        <div class="col-md-3 form-group">
                            @Html.LabelFor(model => model.Email)
                        </div>
                        <div class="col-md-9 form-group">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @id = "email" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="">
                        <div class="col-md-3 form-group">
                            @Html.LabelFor(model => model.Password)
                        </div>
                        <div class="col-md-9 form-group">
                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @id = "password" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="">
                        <div class="col-md-3 form-group">
                            @Html.LabelFor(model => model.UserRole)
                        </div>
                        <div class="col-md-9 form-group">
                            @Html.DropDownListFor(m => m.UserRole, (SelectList)ViewBag.UserRoleList, "Select", new { @class = "form-control select", @id = "roleId" })
                        </div>
                        @Html.ValidationMessageFor(m => m.UserRole)
                    </div>
                </div>
                @*<div class="col-md-12">
            <div class="">
                <div class="col-md-3 form-group">
                    @Html.LabelFor(model => model.IsActive)
                </div>
                <div class="col-md-9 form-group">
                    @Html.DropDownListFor(m => m.IsActive, (SelectList)ViewBag.IsActive, "Select", new { @class = "form-control select", @id = "IsActive" })
                </div>
                @Html.ValidationMessageFor(m => m.IsActive)
            </div>
        </div>*@
                <div class="form-group clearfix">
                    <label class="col-md-6 col-xs-12 control-label"></label>
                    <div class="col-md-6 col-xs-12 col-md-push-2">
                        <div class="panel-controls">
                            <button class="btn btn-primary submit" id="CreateUsers" type="button">Create</button> &nbsp;&nbsp;
                            <button onclick="window.location = '@Url.Action("UserList", "User")'" class="btn btn-warning">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal animated fadeIn" id="EditUserModalPopup" role="dialog" aria-labelledby="smallModalHead" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="smallModalHead" style="color:#fff">Edit User</h4>
            </div>
            <div class="modal-body form-horizontal">
                <div class="col-md-12">
                    <div class="">
                        @Html.HiddenFor(m => m.UserID, new { @id = "editUserId" })
                        <div class="col-md-3 form-group">
                            @Html.LabelFor(model => model.FirstName)
                        </div>
                        <div class="col-md-9 form-group">
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @id = "editFirstName" })
                        </div>
                        @Html.ValidationMessageFor(m => m.FirstName)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="">
                        <div class="col-md-3 form-group">
                            @Html.LabelFor(model => model.LastName)
                        </div>
                        <div class="col-md-9 form-group">
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @id = "editLastName" })
                        </div>
                        @Html.ValidationMessageFor(m => m.LastName)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="">
                        <div class="col-md-3 form-group">
                            @Html.LabelFor(model => model.UserName)
                        </div>
                        <div class="col-md-9 form-group">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @id = "editUserName" })
                        </div>
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="">
                        <div class="col-md-3 form-group">
                            @Html.LabelFor(model => model.UserCode)
                        </div>
                        <div class="col-md-9 form-group">
                            @Html.TextBoxFor(m => m.UserCode, new { @class = "form-control", @id = "editUserCode" })
                        </div>
                        @Html.ValidationMessageFor(m => m.UserCode)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="">
                        <div class="col-md-3 form-group">
                            @Html.LabelFor(model => model.Email)
                        </div>
                        <div class="col-md-9 form-group">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @id = "editEmail" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="">
                        <div class="col-md-3 form-group">
                            @Html.LabelFor(model => model.UserRole)
                        </div>
                        <div class="col-md-9 form-group">
                            @Html.DropDownListFor(m => m.UserRole, (SelectList)ViewBag.UserRoleList, new { @class = "form-control select", @id = "editUserRole" })
                        </div>
                        @Html.ValidationMessageFor(m => m.UserRole)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="">
                        <div class="col-md-3 form-group">
                            @Html.LabelFor(model => model.IsActive)
                        </div>
                        <div class="col-md-9 form-group">
                            @Html.DropDownListFor(m => m.IsActive, (SelectList)ViewBag.IsActive, new { @class = "form-control select", @id = "editUserIsActive" })
                        </div>
                        @Html.ValidationMessageFor(m => m.IsActive)
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-md-6 col-xs-12 control-label"></label>
                    <div class="col-md-6 col-xs-12 col-md-push-2">
                        <div class="panel-controls">
                            <button class="btn btn-primary submit" id="UpdateUsers" type="button">Update</button> &nbsp;&nbsp;
                            <button onclick="window.location = '@Url.Action("UserList", "User")'" class="btn btn-warning">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal animated fadeIn" id="deleteUserModalPopup" tabindex="-1" role="dialog" aria-labelledby="smallModalHead" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ><span aria-hidden="true">&times;</span><span class="sr-only" style="color:#fff">Close</span></button>
                <h4 class="modal-title" id="smallModalHead" style="color:#fff">Disable User Details</h4>
            </div>
            <div class="modal-body form-group-separated">
                <div class="form-group">
                    <h4 class="col-md-12 control-label">Are you sure you want to disable this User?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btndeleteUser" delete-url="">Disable</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal animated fadeIn" id="deleteUserMessageBox" tabindex="-1" role="dialog" aria-labelledby="smallModalHead" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="smallModalHead" style="color:#fff">Disable User Details</h4>
            </div>
            <div class="modal-body form-group-separated">
                <div class="form-group">
                    <h4 class="col-md-12 control-label" id="deleteMessage"></h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">&nbsp;&nbsp;OK&nbsp;&nbsp;</button>
            </div>
        </div>
    </div>
</div>

<div class="modal animated fadeIn" id="MessageBox" tabindex="-1" role="dialog" aria-labelledby="smallModalHead" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="smallModalHead" style="color:#fff">Message Box</h4>
            </div>
            <div class="modal-body form-group-separated">
                <div class="form-group">
                    <div id="errorMessageBox" class="col-md-12">
                        <div class="">
                            <strong>Error! </strong> <b> <span class="errorMessage"></span></b>
                        </div>
                    </div>

                    <div id="successMessageBox" class="col-md-12">
                        <div class="">
                            <strong>Success! </strong> <b> <span class="errorMessage"></span></b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default clickOkay" data-dismiss="modal">&nbsp;&nbsp;OK&nbsp;&nbsp;</button>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script type="text/javascript" src=@Url.Content("https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.js")></script>

    <script type="text/javascript">
        var tableUsersData;
        $('#btnCreateUser').on("click", function (e) {
            e.preventDefault();
            $("#CreateUserModalPopup").modal("show");
        });

        $(document).ready(function () {
            tableUsersData = $('#tblUsersList').dataTable({
                "processing": false,
                "ajax": '@Url.Action("GetAllUsersList", "User")',
                "columns": [
                    { "data": "SrNo" },
                    { "data": "FirstName" },
                    { "data": "LastName" },
                    { "data": "UserName" },
                    { "data": "EmailAddress" },
                    { "data": "UserCode" },
                    { "data": "UserRole" },
                    { "data": "IsActive"},
                    { "data": "Edit" },
                    { "data": "Disable" }
                ],
                "columnDefs": [
                    {
                        "render": function (data, type, row) {
                            return '<button type="button" UserFName="' + row.FirstName + '"UserLName="' + row.LastName + '"UserName="' + row.UserName + '"IsActive="' + row.IsActive + '" Email="' + row.EmailAddress + '" UserCode="' + row.UserCode + '" UserRole="' + row.UserRole + '" UserID="' + row.UserId + '" id="editUser", class="btn btn-primary"  style="background-color : #2890b9">Edit</button>'
                        },
                        "targets": 8
                    },
                     {
                         "render": function (data, type, row) {
                             return '<button type="button" delete-url="' + data + '" class="openDeletePopup btn btn-primary" style="background-color : #2890b9"><i class="fa fa-times"></i>Disable</button>';
                         },

                         "targets": 9
                     },
                ],
                "bDestroy": true
            });
        });

        $('#CreateUsers').on("click", function (e) {
            e.preventDefault();
            var status = false;
            var userDetails = {
                UserCode: $("#userCode").val(),
                FirstName: $("#firstName").val(),
                LastName: $("#lastName").val(),
                UserName: $("#userName").val(),
                Email: $("#email").val(),
                Password: $("#password").val(),
                UserRole: $("#roleId").val(),
                IsActive: $("#IsActive").val() == "Yes" ? true : false
            };
            $.ajax({
                type: "POST",
                url: '@Url.Action("CreateUser", "User")',
                dataType: 'json',
                data: userDetails,
                success: function (data) {
                    if (data.Status == true) {
                        $("#CreateUserModalPopup").modal("hide");
                        $(".errorMessage").html(data.Message);
                        $('#errorMessageBox').hide();
                        $("#MessageBox").modal("show");
                        $('#successMessageBox').show();
                        status = true;
                    }
                    else {
                        e.preventDefault();
                        $("#CreateUserModalPopup").modal("hide");
                        $(".errorMessage").html(data.Message);
                        $('#successMessageBox').hide();
                        $("#MessageBox").modal("show");
                        $('#errorMessageBox').show();
                        status = false;
                    }
                }
            });
            return status;
        });

        $(document).on("click", "#editUser ", function () {

            $("#EditUserModalPopup").modal("show");
            var userId = $(this).attr('UserID');
            var userFName = $(this).attr('UserFName');
            var userLName = $(this).attr('UserLName');
            var userName = $(this).attr('UserName');
            var userIsActive = $(this).attr('IsActive');
            var userCode = $(this).attr('UserCode');
            var userRole = $(this).attr('UserRole');
            var userEmail = $(this).attr('Email');
            $("#editUserId").val(userId);
            $("#editFirstName").val(userFName);
            $("#editLastName").val(userLName);
            $("#editUserName").val(userName);
            $("#editUserCode").val(userCode);
            $("#editUserRole").val(userRole);
            $("#editEmail").val(userEmail);
            $("#editUserIsActive").val(userIsActive);
        });

        $('#UpdateUsers').on("click", function (e) {
            var status = false;
            var userInformation = {
                UserID: $('#editUserId').val(),
                FirstName: $('#editFirstName').val(),
                LastName: $('#editLastName').val(),
                UserName: $('#editUserName').val(),
                UserCode: $('#editUserCode').val(),
                UserRole: $('#editUserRole').val(),
                Email: $('#editEmail').val(),
                IsActive: $("#editUserIsActive").val() == "Yes" ? true : false,
            };
            $.ajax({
                type: "POST",
                url: '@Url.Action("EditUser", "User")',
                dataType: 'json',
                data: userInformation,
                success: function (data) {
                    if (data.Status == true) {
                        $("#EditUserModalPopup").modal("hide");
                        $(".errorMessage").html(data.Message);
                        $('#errorMessageBox').hide();
                        $("#MessageBox").modal("show");
                        $('#successMessageBox').show();
                    }
                    else {
                        $("#EditUserModalPopup").modal("hide");
                        $(".errorMessage").html(data.Message);
                        $('#successMessageBox').hide();
                        $("#MessageBox").modal("show");
                        $('#errorMessageBox').show();
                        return false;

                    }
                }
            });
            return status;
        });

        $('#tblUsersList').on("click", ".openDeletePopup", function () {
            $('#btndeleteUser').attr("delete-url", $(this).attr('delete-url'));
            $('#deleteUserModalPopup').modal('show');
        });

        $('.clickOkay').on("click", function () {
            window.location.reload();
        });

        $('#btndeleteUser').click(function () {
            $.ajax({
                type: "GET",
                url: $(this).attr('delete-url'),
                success: function (data) {
                    if (data.result) {
                        $('#deleteMessage').html('User Details disable succesfully');
                        $('#deleteUserModalPopup').modal('hide');
                        window.location.reload();
                    }
                    else {
                        $('#deleteMessage').html('An error occured. Please try again.');
                        $('#deleteUserModalPopup').modal('hide');

                    }

                    $('#deleteUserMessageBox').modal('show');
                    window.location.reload();

                },
                error: function () {
                    $('#deleteUserModalPopup').modal('hide');
                }
            });
        });
    </script>
}
